<%- include('header') %>

<main class="container">
    <h1>Lista de Artistas</h1>
    
    <% if (typeof artistas !== 'undefined' && artistas.length > 0) { %>
        <div class="lista-artistas">
            <% artistas.forEach(artista => { %>
                <div class="artista-card">
                    
                    <% 
                        /* 
                           Lógica basada en el ID:
                           El servidor buscará el archivo /img/ID.jpg
                           Si no encuentra la imagen, mostrará /img/default.jpg
                        */
                        let imgUrl = '/img/' + artista.id + '.jpg';
                    %>

                    <img src="<%= imgUrl %>" 
                         alt="<%= artista.nombre %>" 
                         onerror="this.onerror=null; this.src='/img/default.jpg';">
                    
                    <h3><%= artista.nombre %></h3>
                    <p><%= artista.biografia %></p>
                    <a href="/detalle/<%= artista.id %>">Ver más</a>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p>No se encontraron artistas en la base de datos.</p>
    <% } %>
</main>

<%- include('footer') %>
